# Genel .NET ve Visual Studio dosyaları
bin/
obj/
.vscode/
.vs/
*.user
*.suo
*.cache
*.csproj.user
*.dbmdl
*.pdb
*.ilk
*.log
*.tlog
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db
*.VC.VC.opendb
*.DotSettings.user
*.rsuser

# MAUI ve Xamarin özel dosyaları
**/*.userprefs
**/*.vsixmanifest
**/*.vsix
**/*.xcworkspace/
**/*.xcuserstate
**/packages/
**/node_modules/
**/platforms/
**/Pods/
**/ios/
**/android/
!android/app/src/main/assets/**

# Build çıktıları ve cache dosyaları
*.apk
*.aab
*.ipa
*.app
*.exe
*.dll
*.dSYM/
